<div class="window-page-container">
    <div class="window-breadcrumb">
      <a routerLink="/profile" style="text-decoration: none; color: #666;">Back to Profile</a>
    </div>

    <h2>Change Password</h2>
    
    <form #changePasswordForm="ngForm" (ngSubmit)="changePasswordForm.form.valid && onSubmit()">
        <div class="form-input-container">
            <label>Current Password</label>
            <input type="password" [(ngModel)]="currentPassword" name="currentPassword" required
                #currentPasswordInput="ngModel" class="form-input">
            <div *ngIf="currentPasswordInput.invalid && (currentPasswordInput.dirty || currentPasswordInput.touched)"
                class="form-error-message">
                <span *ngIf="currentPasswordInput.errors?.['required']">Password is required.</span>
            </div>
        </div>

        <div class="form-input-container">
            <label>New Password</label>
            <input type="password" [(ngModel)]="newPassword" name="newPassword" required pattern="^[a-zA-Z0-9]{4,}$"
                #newPasswordInput="ngModel" class="form-input">
            <div *ngIf="newPasswordInput.invalid && (newPasswordInput.dirty || newPasswordInput.touched)"
                class="form-error-message">
                <span *ngIf="newPasswordInput.errors?.['required']">New Password is required.</span>
                <span *ngIf="newPasswordInput.errors?.['pattern']">Must be at least 4 characters long and contain only
                    letters and numbers.</span>
            </div>
        </div>

        <div class="form-input-container">
            <label>Confirm New Password</label>
            <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required
                #confirmPasswordInput="ngModel" class="form-input">
            <div *ngIf="(confirmPasswordInput.invalid || confirmPassword !== newPassword) && (confirmPasswordInput.dirty || confirmPasswordInput.touched)"
                class="form-error-message">
                <span *ngIf="confirmPasswordInput.errors?.['required']">Please confirm your password.</span>
                <span
                    *ngIf="newPassword !== confirmPassword && !confirmPasswordInput.errors?.['required']">Passwords
                    do not match.</span>
            </div>
        </div>

        <button type="submit" [disabled]="changePasswordForm.form.invalid || isLoading || newPassword !== confirmPassword"
            class="form-button green">
            <span *ngIf="isLoading" class="spinner"></span>
            <span *ngIf="!isLoading">Confirm</span></button>
    </form>

    <p *ngIf="message" class="form-message">{{ message }}</p>
    <p *ngIf="errorMessage" class="form-error-message">{{ errorMessage }}</p>
  </div>