<div class="flex h-screen flex-col">
  <md-toolbar md-whiteframe="2">
    <div class="md-toolbar-tools flex items-center justify-center">
      <h1 class="md-title">MiMiau 🐾</h1>
    </div>
  </md-toolbar>

  <md-content
    class="relative flex flex-1 flex-col overflow-hidden bg-slate-100 p-0"
    ng-click="$ctrl.onBackgroundClick()"
  >
    <game-viewport class="flex h-full w-full flex-1 z-0"></game-viewport>

    <profile-window
      ng-if="$ctrl.isProfileOpen"
      on-close="$ctrl.closeProfile()"
      class="z-1"
    ></profile-window>
  </md-content>

  <md-toolbar md-whiteframe="3" class="border-t border-black/10">
    <div class="md-toolbar-tools flex w-full flex-row">
      <div class="flex-1"></div>
      <div class="flex-1"></div>
      <div class="flex flex-1 items-center justify-end">
        <md-button
          class="md-raised"
          ng-class="{ 'md-primary': $ctrl.isProfileOpen }"
          ng-click="$ctrl.toggleProfile()"
          aria-label="Profile"
        >
          <md-icon>person</md-icon>
          Profile
        </md-button>
      </div>
    </div>
  </md-toolbar>
</div>
