<div
  class="absolute inset-0 z-10 flex items-center justify-center"
  layout="column"
  layout-align="center center"
  ng-click="$ctrl.close()"
>
  <md-card
    class="flex m-0 size-full flex-col rounded-none sm:size-auto sm:max-h-[480px] sm:w-full sm:max-w-[400px] sm:rounded-xl"
    ng-click="$event.stopPropagation()"
  >
    <md-card-content class="flex flex-1 flex-col overflow-auto" layout="column">
      <div layout="row" layout-align="space-between center" class="mb-6">
        <h2 class="md-title m-0">Profile</h2>
        <md-button
          class="md-icon-button"
          ng-click="$ctrl.close()"
          aria-label="Close profile"
        >
          <md-icon>close</md-icon>
        </md-button>
      </div>

      <div class="mb-6 flex flex-1 flex-col gap-4" layout="column">
        <p class="md-body-1 m-0">
          <span class="md-body-2 text-gray-600">Name</span><br />
          {{ $ctrl.username }}
        </p>
        <p class="md-body-1 m-0">
          <span class="md-body-2 text-gray-600">Email</span><br />
          {{ $ctrl.email }}
        </p>
      </div>

      <div layout="row" layout-align="end center">
        <md-button
          class="md-raised md-warn"
          ng-click="$ctrl.logout()"
          ng-disabled="$ctrl.isLoading"
          aria-label="Logout"
        >
          <md-icon ng-if="!$ctrl.isLoading">exit_to_app</md-icon>
          <md-progress-circular
            ng-if="$ctrl.isLoading"
            md-diameter="20"
            md-mode="indeterminate"
          ></md-progress-circular>
          <span ng-if="!$ctrl.isLoading">Logout</span>
        </md-button>
      </div>

      <div
        ng-if="$ctrl.errorMessage"
        class="md-body-1 mt-4 text-center text-red-600"
        layout="row"
        layout-align="center center"
      >
        {{ $ctrl.errorMessage }}
      </div>
    </md-card-content>
  </md-card>
</div>
