<div
  class="absolute inset-0 z-10 flex flex-col items-center justify-center"
  ng-click="$ctrl.close()"
>
  <md-card
    class="m-0 flex size-full flex-col rounded-none sm:size-auto sm:max-h-[640px] sm:w-full sm:max-w-[640px] sm:rounded-xl"
    ng-click="$event.stopPropagation()"
  >
    <md-card-content class="flex flex-1 flex-col overflow-auto">
      <div class="mb-6 flex items-center justify-between flex-grow-0">
        <div class="flex items-center justify-start">
          <md-button
            ng-if="$ctrl.view !== 'overview'"
            class="md-icon-button !mr-1"
            ng-click="$ctrl.showOverview()"
            aria-label="Back to profile"
          >
            <md-icon>arrow_back</md-icon>
          </md-button>
          <h2 class="md-title m-0">{{ $ctrl.getTitle() }}</h2>
        </div>
        <md-button
          class="md-icon-button"
          ng-click="$ctrl.close()"
          aria-label="Close profile"
        >
          <md-icon>close</md-icon>
        </md-button>
      </div>

      <div
        ng-if="$ctrl.view === 'overview'"
        class="flex h-full flex-col justify-between"
      >
        <div class="mb-6 flex flex-col gap-4">
          <p class="md-body-1 m-0">
            <span class="md-body-2 text-gray-600">Name</span><br />
            {{ $ctrl.username }}
          </p>
          <p class="md-body-1 m-0">
            <span class="md-body-2 text-gray-600">Email</span><br />
            {{ $ctrl.email }}
          </p>
        </div>

        <div class="mt-auto flex flex-grow-0 flex-wrap justify-end gap-2">
          <md-button class="md-raised" ng-click="$ctrl.showChangePassword()">
            Change Password
          </md-button>
          <md-button class="md-raised" ng-click="$ctrl.showDeleteAccount()">
            Delete Account
          </md-button>
          <md-button
            class="md-raised md-warn"
            ng-click="$ctrl.logout()"
            ng-disabled="$ctrl.isLoading"
            aria-label="Logout"
          >
            <md-icon ng-if="!$ctrl.isLoading">exit_to_app</md-icon>
            <md-progress-circular
              ng-if="$ctrl.isLoading"
              md-diameter="20"
              md-mode="indeterminate"
            ></md-progress-circular>
            <span ng-if="!$ctrl.isLoading">Logout</span>
          </md-button>
        </div>
      </div>

      <change-password
        ng-if="$ctrl.view === 'change-password'"
      ></change-password>

      <delete-account ng-if="$ctrl.view === 'delete-account'"></delete-account>

      <div
        ng-if="$ctrl.errorMessage"
        class="md-body-1 mt-4 flex items-center justify-center text-center text-red-600"
      >
        {{ $ctrl.errorMessage }}
      </div>
    </md-card-content>
  </md-card>
</div>
