<div class="dashboard-container">
  <div class="top-bar">
    <h1>MiMiau 🐾</h1>
  </div>

  <app-interactive-viewport #gameViewport>
    <app-game-room></app-game-room>
  </app-interactive-viewport>

  <div class="bottom-nav">
    <div>
      @for (cat of catsCatalog(); track cat.id) {
      <span>{{cat.name}}</span>
      }
    </div>
    <div></div>
    <div></div>
    <button routerLink="/profile" routerLinkActive="active-nav-tint" class="nav-button">
      Profile
    </button>

    <p *ngIf="errorMessage" class="form-error-message">{{ errorMessage }}</p>
  </div>
</div>

<!-- <app-cat-detail-card 
  *ngIf="catState.selectedCat()"
  [cat]="catState.selectedCat()">
</app-cat-detail-card>

<app-gacha-overlay 
  *ngIf="catState.gachaCat()"
  [cat]="catState.gachaCat()" >
</app-gacha-overlay> -->