<div layout="column" layout-fill layout-align="center center">
  <md-card class="rounded-xl">
    <md-card-content>
      <a href="#!/login" class="md-caption mb-4 inline-block">← Back to Login</a>

      <h2 class="md-title mb-8" layout="row" layout-align="center center">
        Reset Password
      </h2>

      <form
        name="$ctrl.resetPasswordForm"
        ng-submit="$ctrl.resetPassword()"
        novalidate
        layout="column"
      >
        <md-input-container class="md-block">
          <label>Password</label>
          <input
            ng-model="$ctrl.password"
            type="password"
            name="password"
            required
            ng-pattern="/^[a-zA-Z0-9]{4,}$/"
            ng-disabled="!$ctrl.token"
          />
          <div ng-messages="$ctrl.resetPasswordForm.password.$error">
            <div ng-message="required">Password is required.</div>
            <div ng-message="pattern">
              At least 4 characters, letters and numbers only.
            </div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Confirm Password</label>
          <input
            ng-model="$ctrl.passwordConfirm"
            type="password"
            name="passwordConfirm"
            required
            ng-disabled="!$ctrl.token"
          />
          <div ng-messages="$ctrl.resetPasswordForm.passwordConfirm.$error">
            <div ng-message="required">Please confirm your password.</div>
          </div>
        </md-input-container>

        <div
          ng-if="$ctrl.passwordConfirm && !$ctrl.passwordsMatch()"
          class="md-body-1"
          md-colors="{color: 'warn'}"
        >
          Passwords do not match.
        </div>

        <md-button
          type="submit"
          class="md-raised md-primary md-block"
          ng-disabled="!$ctrl.token || $ctrl.isLoading || $ctrl.resetPasswordForm.$invalid || !$ctrl.passwordsMatch()"
        >
          <span ng-if="!$ctrl.isLoading">Reset Password</span>
          <md-progress-circular
            ng-if="$ctrl.isLoading"
            md-diameter="20"
            md-mode="indeterminate"
          ></md-progress-circular>
        </md-button>
      </form>

      <div
        ng-if="$ctrl.message"
        class="md-body-1 mt-4"
        md-colors="{color: 'primary'}"
        layout="row"
        layout-align="center center"
      >
        {{ $ctrl.message }}
        <a href="#!/login" class="ml-2">Go to Login</a>
      </div>

      <div
        ng-if="$ctrl.errorMessage"
        class="md-body-1 mt-4"
        md-colors="{color: 'warn'}"
        layout="row"
        layout-align="center center"
      >
        {{ $ctrl.errorMessage }}
      </div>
    </md-card-content>
  </md-card>
</div>
