<div class="landing-container">
    <h2>Reset Password</h2>

    <form #resetPasswordForm="ngForm" (ngSubmit)="resetPasswordForm.form.valid && onResetPassword()">
        <div class="form-input-container">
            <label>Password</label>
            <input type="password" [(ngModel)]="password" name="password" required pattern="^[a-zA-Z0-9]{4,}$"
                #passwordInput="ngModel" class="form-input">
            <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)"
                class="form-error-message">
                <span *ngIf="passwordInput.errors?.['required']">Password is required.</span>
                <span *ngIf="passwordInput.errors?.['pattern']">Must be at least 4 characters long and contain only
                    letters and numbers.</span>
            </div>
        </div>

        <div class="form-input-container">
            <label>Confirm Password</label>
            <input type="password" [(ngModel)]="passwordConfirm" name="passwordConfirm" required
                #passwordConfirmInput="ngModel" class="form-input">
            <div *ngIf="(passwordConfirmInput.invalid || passwordConfirm !== password) && (passwordConfirmInput.dirty || passwordConfirmInput.touched)"
                class="form-error-message">
                <span *ngIf="passwordConfirmInput.errors?.['required']">Please confirm your password.</span>
                <span
                    *ngIf="passwordConfirmInput !== passwordInput && !passwordConfirmInput.errors?.['required']">Passwords
                    do not match.</span>
            </div>
        </div>

        <button type="submit" [disabled]="!token || resetPasswordForm.form.invalid || isLoading || password !== passwordConfirm"
            class="form-button">
            <span *ngIf="isLoading" class="spinner"></span>
            <span *ngIf="!isLoading">Reset Password</span></button>
    </form>

    <p *ngIf="message" class="form-bottom-text">{{ message }} <a routerLink="/login">Go to Login</a></p>
    <p *ngIf="errorMessage" class="form-error-message">{{ errorMessage }}</p>
</div>