<form
  ng-if="!$ctrl.successMessage"
  name="$ctrl.changePasswordForm"
  ng-submit="$ctrl.changePassword()"
  novalidate
  class="flex flex-col"
>
  <md-input-container class="md-block">
    <label>Current Password</label>
    <input
      ng-model="$ctrl.currentPassword"
      type="password"
      name="currentPassword"
      required
    />
    <div ng-messages="$ctrl.changePasswordForm.currentPassword.$error">
      <div ng-message="required">Current password is required.</div>
    </div>
  </md-input-container>

  <md-input-container class="md-block">
    <label>New Password</label>
    <input
      ng-model="$ctrl.newPassword"
      type="password"
      name="newPassword"
      required
      minlength="4"
      ng-pattern="/^[a-zA-Z0-9]+$/"
    />
    <div ng-messages="$ctrl.changePasswordForm.newPassword.$error">
      <div ng-message="required">New password is required.</div>
      <div ng-message="minlength">Must be at least 4 characters.</div>
      <div ng-message="pattern">Letters and numbers only.</div>
    </div>
  </md-input-container>

  <md-input-container class="md-block">
    <label>Confirm New Password</label>
    <input
      ng-model="$ctrl.confirmPassword"
      type="password"
      name="confirmPassword"
      required
    />
    <div ng-messages="$ctrl.changePasswordForm.confirmPassword.$error">
      <div ng-message="required">Please confirm your new password.</div>
    </div>
  </md-input-container>

  <p
    ng-if="$ctrl.confirmPassword && !$ctrl.passwordsMatch()"
    class="md-caption -mt-2 mb-4 text-red-600"
  >
    Passwords do not match.
  </p>

  <div class="flex items-center justify-end">
    <md-button
      type="submit"
      class="md-raised md-primary"
      ng-disabled="$ctrl.isLoading || $ctrl.changePasswordForm.$invalid || !$ctrl.passwordsMatch()"
    >
      <span ng-if="!$ctrl.isLoading">Confirm</span>
      <md-progress-circular
        ng-if="$ctrl.isLoading"
        md-diameter="20"
        md-mode="indeterminate"
      ></md-progress-circular>
    </md-button>
  </div>
</form>

<div
  ng-if="$ctrl.errorMessage"
  class="md-body-1 mt-4 flex items-center justify-center text-center text-red-600"
>
  {{ $ctrl.errorMessage }}
</div>

<div
  ng-if="$ctrl.successMessage"
  class="md-body-1 flex items-center justify-center text-center text-green-700"
>
  {{ $ctrl.successMessage }}
</div>
