<div class="landing-container">
    <a class="back-button" href="/login">Back to Login</a>
    <h2>Forgot Password? 😿</h2>

    <form (ngSubmit)="onRequest()">
        <div class="form-input-container">
            <label>Email Address</label>
            <input type="email" [(ngModel)]="email" name="email" required class="form-input">
        </div>

        <button type="submit" [disabled]="isLoading" class="form-button green">
            <span *ngIf="isLoading" class="spinner"></span>
            <span *ngIf="!isLoading">Request Password Reset</span>
        </button>
    </form>

    <p *ngIf="message" class="form-message">{{ message }}</p>
    <p *ngIf="errorMessage" class="form-error-message">{{ errorMessage }}</p>
</div>