<div class="grid bg-amber-100 shadow-inner" ng-style="$ctrl.getGridStyle()">
  <div
    ng-repeat="cell in $ctrl.cells track by (cell.x + '-' + cell.y)"
    class="box-border border border-solid border-amber-300/60 flex justify-center items-center"
  >
    <room-item item="cell.item" cell-size="$ctrl.cellSize"></room-item>
  </div>

  <cats
    class="absolute flex h-full w-full pointer-events-none top-0 left-0"
  ></cats>

  <carton-box
    ng-if="$ctrl.gameStateService.gachaQueue > 0"
    class="absolute flex h-full w-full items-center justify-center top-0 left-0"
  ></carton-box>
</div>
