<div class="flex items-center gap-3 rounded-xl p-4 shadow-md">
  <div class="h-16 w-16 shrink-0 overflow-hidden border-solid border-black">
    <div ng-style="$ctrl.getVisualStyles()"></div>
  </div>
  <div class="flex min-w-0 flex-1 flex-col gap-1">
    <h3 class="md-subhead m-0 truncate">{{ $ctrl.item.name }}</h3>

    <div ng-if="!$ctrl.showCoordinates" class="flex flex-col gap-0.5">
      <p class="md-body-1 m-0 text-gray-600">
        Inventory: {{ $ctrl.item.inventoryCount }} / Placed: {{
        $ctrl.item.placedCount }}
      </p>
      <p class="md-body-1 m-0 text-gray-600">
        {{ $ctrl.item.baseGain }} furrency / {{
        $ctrl.formatDuration($ctrl.item.baseDurationSec) }}
      </p>
    </div>

    <p ng-if="$ctrl.showCoordinates" class="md-caption m-0 text-gray-500">
      ({{ $ctrl.item.gridX }}, {{ $ctrl.item.gridY }})
    </p>
  </div>
</div>
