<div class="flex w-full flex-col gap-4 p-4">
  <md-progress-circular
    ng-if="$ctrl.isLoading"
    class="mx-auto my-8"
    md-diameter="48"
    md-mode="indeterminate"
  ></md-progress-circular>

  <md-switch
    ng-if="!$ctrl.isLoading && !$ctrl.error"
    ng-model="$ctrl.showPlacedItems"
    ng-change="$ctrl.onShowPlacedChange()"
    aria-label="Show placed items"
  >
    Show placed items
  </md-switch>

  <p
    ng-if="!$ctrl.isLoading && $ctrl.error"
    class="md-body-1 m-0 px-4 py-8 text-center text-red-600"
  >
    {{ $ctrl.error }}
  </p>

  <p
    ng-if="!$ctrl.isLoading && !$ctrl.error && $ctrl.displayedItems.length === 0"
    class="md-body-1 m-0 px-4 py-8 text-center text-gray-500"
  >
    {{ $ctrl.getEmptyMessage() }}
  </p>

  <div ng-if="!$ctrl.showPlacedItems" class="flex flex-col gap-4">
    <inventory-furniture-item
      ng-repeat="group in $ctrl.displayedItems track by group.itemId"
      item="group"
    ></inventory-furniture-item>
  </div>

  <div ng-if="$ctrl.showPlacedItems" class="flex flex-col gap-4">
    <inventory-furniture-item
      ng-repeat="item in $ctrl.displayedItems track by item.userItemId"
      item="item"
      show-coordinates="true"
    ></inventory-furniture-item>
  </div>
</div>
