<div class="flex w-full flex-1 flex-col items-center justify-center">
  <md-card class="rounded-xl">
    <md-card-content>
      <a href="#!/login" class="md-caption mb-4 inline-block"
        >← Back to Login</a
      >

      <h2 class="md-title mb-8 flex items-center justify-center">
        Forgot Password? 😿
      </h2>

      <form
        name="$ctrl.forgotPasswordForm"
        ng-submit="$ctrl.requestReset()"
        novalidate
        class="flex flex-col"
      >
        <md-input-container class="mb-0">
          <label>Email Address</label>
          <input ng-model="$ctrl.email" type="email" name="email" required />
          <div ng-messages="$ctrl.forgotPasswordForm.email.$error">
            <div ng-message="required">Email is required.</div>
            <div ng-message="email">Enter a valid email.</div>
          </div>
        </md-input-container>

        <md-button
          type="submit"
          class="md-raised md-primary md-block"
          ng-disabled="$ctrl.isLoading || $ctrl.forgotPasswordForm.$invalid"
        >
          <span ng-if="!$ctrl.isLoading">Request Password Reset</span>
          <md-progress-circular
            ng-if="$ctrl.isLoading"
            md-diameter="20"
            md-mode="indeterminate"
            class="m-auto"
          ></md-progress-circular>
        </md-button>
      </form>

      <div
        ng-if="$ctrl.message"
        class="md-body-1 mt-4 flex items-center justify-center"
        md-colors="{color: 'primary'}"
      >
        {{ $ctrl.message }}
      </div>

      <div
        ng-if="$ctrl.errorMessage"
        class="md-body-1 mt-4 flex items-center justify-center"
        md-colors="{color: 'warn'}"
      >
        {{ $ctrl.errorMessage }}
      </div>
    </md-card-content>
  </md-card>
</div>
