<div class="overflow-hidden rounded-xl shadow-md">
  <button
    type="button"
    class="flex w-full cursor-pointer items-center gap-3 border-0 bg-transparent p-4 text-left"
    ng-click="$ctrl.onToggle()"
  >
    <img
      ng-src="{{ $ctrl.cat.image }}"
      alt="{{ $ctrl.cat.name }}"
      class="h-16 w-16 shrink-0 object-contain border-solid border-black"
    />
    <div class="flex min-w-0 flex-1 flex-col gap-1">
      <h3 class="md-subhead m-0 truncate">{{ $ctrl.cat.name }}</h3>
      <div class="flex items-center gap-0.5">
        <md-icon
          ng-repeat="filled in $ctrl.getLevelStars() track by $index"
          class="!h-4 !w-4 text-sm text-yellow-500"
        >
          {{ filled ? "star" : "star_border" }}
        </md-icon>
      </div>
    </div>
    <md-icon
      class="inventory-cat-item__chevron shrink-0 text-gray-500"
      ng-class="{ 'is-expanded': $ctrl.isExpanded }"
    >
      expand_more
    </md-icon>
  </button>

  <div
    class="inventory-cat-facts-panel"
    ng-class="{ 'is-expanded': $ctrl.isExpanded }"
  >
    <div class="inventory-cat-facts-panel__inner">
      <ul
        class="m-0 list-none space-y-2 border-t border-black/10 px-4 py-3"
        ng-class="{ 'opacity-0': !$ctrl.isExpanded, 'opacity-100': $ctrl.isExpanded }"
        style="transition: opacity 0.3s ease-out"
      >
        <li
          ng-repeat="fact in $ctrl.cat.facts track by $index"
          class="md-body-1 m-0"
          ng-class="{ 'text-gray-400': fact === '?' }"
        >
          {{ fact }}
        </li>
      </ul>
    </div>
  </div>
</div>
